@{
    var user = (Padel.Infrastructure.Utilities.PadelPrincipal)User;
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<div id="apuntateWizard" class="wizard">
    <ul class="steps">
        <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Paso
            1<span class="chevron"></span></li>
        <li data-target="#step2"><span class="badge">2</span>Paso 2<span class="chevron"></span></li>
        <li data-target="#step3"><span class="badge">3</span>Paso 3<span class="chevron"></span></li>
    </ul>
    <div class="actions" ng-controller="SignUpCtrl">
        <div id="signUpActionDiv" ng-click="signUp()" class="ng-hide">
            <input id="antiForgeryToken" ng-model="antiForgeryToken" type="hidden" ng-init="antiForgeryToken='@GetAntiForgeryToken()'"  />
        </div>
        <button type="button" class="btn btn-mini btn-prev">
            <i class="icon-arrow-left"></i>Anterior</button>
        <button type="button" class="btn btn-mini btn-next" data-last="Finalizar">
            Siguiente<i class="icon-arrow-right"></i></button>
    </div>
</div>
<div class="step-content">
    <div class="step-pane active" id="step1">
        <div class="alert alert-info">
            <p>
                El primer paso es elegir uno de tus equipos o uno de tus amigos para formar un equipo
                nuevo.</p>
            <div class="row">
                <div class="col-md-6 padel-vertical-separator" ng-controller="SearchTeamsCtrl">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Selecciona uno de tus equipos</p>
                            <!-- Single button -->
                            <div class="btn-group">
                                <input value="@user.Id" type="hidden" ng-init="idJugador=@user.Id"/>
                                <button type="button" class="btn btn-default btn-lg dropdown-toggle {{status}}" data-toggle="dropdown">
                                    <span class="dropdown-label" style="width: 158px;">{{title}}</span> <span class="caret">
                                    </span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="team in teams"><a href="" ng-click="selectTeam(team)">
                                        {{ team.Nombre != null ? team.Nombre + "-" : ""}} {{ ( idJugador == team.JugadorBId ? team.JugadorANombre : team.JugadorBNombre
                                        ) }} </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="showDelete">
                            <span class="label">{{ teamSelected.Nombre != null ? teamSelected.Nombre + "-" : ""}} {{ ( idJugador == team.JugadorBId ? teamSelected.JugadorANombre
                                : teamSelected.JugadorBNombre) }}</span>
                            <button type="button" ng-click="deleteSelectedTeam()" class="btn btn-danger">
                                Elimina</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-controller="SearchPlayerCtrl">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Busca uno de tus amigos escribiendo su nombre</p>
                            <div class="btn-group {{status}}">
                                <div id="MySearch" class="input-append search">
                                    <input type="text" class="input-medium" ng-model="playerName" ng-keyup="search()"
                                        placeholder="Busca a tu amigo..." />
                                    <button type="button" class="btn" ng-click="search()">
                                        <i class="icon-search"></i>
                                    </button>
                                </div>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="player in players"><a href="" ng-click="selectPlayer(player)">{{player.Nombre}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="showDelete">
                            <span class="label">{{playerSelected.Nombre}}</span>
                            <button type="button" ng-click="deleteSelectedPlayer()" class="btn btn-danger">
                                Elimina</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="step-pane" id="step2">
        <div class="alert alert-info" ng-controller="AcceptTermsCtrl">
            <p>
                Lee los términos de uso ..link</p>
            <p>
                y haz click <strong>aquí</strong> 
                    <input type="checkbox" value="" ng-model="acceptedTerms" /> si estás
                de acuerdo con los términos.</p>
        </div>
    </div>
    <div class="step-pane" id="step3">
        <div class="alert alert-info" ng-controller="DetailsPaymentCtrl">
            <p>
                No olvides hacer la transferencia a nuestra cuenta <strong>IBAN: @(System.Configuration.ConfigurationManager.AppSettings["IBAN"])</strong>
                para activar el torneo "{{title}}".</p>
            <p>
                El precio del torneo es de {{price}} por persona. Si deseas pagar el registro al
                torneo de su compañero de equipo puedes ingresar el doble de la cantidad señalada.</p>
            <p>
                Haz click en <strong>Finalizar</strong> para registrarte en el torneo.</p>
        </div>
    </div>
</div>
