<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    connectionString="Data Source=padelpro.es\SQLEXPRESS;Initial Catalog=Padel;Persist Security Info=True;User ID=padel;Password=M0rph3us"
  -->
  <connectionStrings>
    <add name="PadelDB"
      connectionString="Server=575f243b-a849-4d3e-a664-a80200e8be40.sqlserver.sequelizer.com;Database=db575f243ba8494d3ea664a80200e8be40;User ID=shqlnatneyegzdyi;Password=enaFkVRcZH4E4xQMsEPN548jFabSyVRzeJx24YM4HJH6foJTpE6zzsyjoX8jU7Le;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>