/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

#recaptcha_table
{
    width: 100%;
}

.recaptchatable #recaptcha_response_field {
    font-size: 11pt;
    padding: 5px;
    height: 34px;
}

/* uploadify
----------------------------------------------------------*/

.uploadifyQueue
{
    margin-left: 17em;
}

.uploadifyLinks
{
    margin-left: 17em;
}

.uploadifyQueueItem
{
    font: 11px Verdana, Geneva, sans-serif;
    border: 2px solid #E5E5E5;
    background-color: #F5F5F5;
    margin-top: 5px;
    padding: 10px;
    width: 350px;
}
.uploadifyError
{
    border: 2px solid #FBCBBC !important;
    background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel
{
    float: right;
}
.uploadifyProgress
{
    background-color: #FFFFFF;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    margin-top: 10px;
    width: 100%;
}
.uploadifyProgressBar
{
    background-color: #0099FF;
    width: 1px;
    height: 3px;
}


/* Log in  
----------------------------------------------------------*/
.form-signin
{
    max-width: 630px;
    padding: 15px;
    margin: 100px auto;
}


/******************************** Padel *****************************************/
.center
{
    padding: 5px;
    text-align: center;
}

.content
{
    margin: 80px auto;
}

.all-width
{
    width: 100%;
}
    
.carousel-caption
{
    text-shadow: 0 2px 2px rgba(0,0,0,0.7) !important;
}

.white, .white a
{
    color: #fff;
}

.form .input-group
{
    margin-bottom: 10px;
}

.padel-label
{
    padding: 5px;
}

.padel-vertical-separator
{
    border-right: 1px solid #d1d1d1;
}

ul.padel-list
{
    list-style-type: disc;
    padding-left: 10px;
    color: #e56010;
}

ul.padel-list span
{
    color: #000000;
}

.puntuaciones
{
    font-size: 30px;
}

/* Popover */
.popover
{
    z-index: 9999;
    width: 236px;
}

.popover-title, .popover-content
{
    padding: 4px 14px;
}

.modal-dialog.large {
    width: 900px; /* respsonsive width */
}

.player
{
    font-size: 14px;
    padding: 10px;
}

/* nav bar */
.navbar-collapse {
    max-height: 100%;
}

.nav li.display-flex
{
    display: flex;
}

/* grid */
.row-margin {
    margin-bottom: 10px;
}

/* Label */
.label.top-right {
    padding: 3px 5px !important;
    font-size: 10px;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    top: 5px;
}


/* Alerts */
.alert {    
    margin-bottom: 5px;
}

/* Icons */
.glyphicon {
    position: initial;
}