@{
    ViewBag.Title = "Padel";
    Layout = @MVC.Shared.Views._Layout;
}
@if (Model == null || Model.Count == 0)
{
    <div class="well">
        Las normas serán publicadas muy pronto!
    </div>
}
